/* reset
--------------------------------------------------*/
body,h1,h2,h3,h4,h5,h6,p,form,fieldset {margin:0;padding:0;}
.low {display:none;}

/* body
--------------------------------------------------*/
body {
	 
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	/*background: #efeae8 ;*/
        background: white ;
	color: #333;
	/*text-align: center;*/
	font-size: 0.9em;
	}




/* headings
--------------------------------------------------*/

h1, h2, h3 {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: bold;
	}

h1 {
	font-size: 4em;
	/*text-align: center;*/
	}


h2 {
	font-size: 1.6em;
	}

h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
	text-decoration: none;
	/*color: #02055a;*/
        color: #8f1200;
	}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	/*color: #485d70;*/
        color: #485d70;
	}

a, h2 a:hover, h3 a:hover {
	/*color: #6976c5;*/
        color: #8f1200;
	text-decoration: none;
	}

a:hover {
	color: #147;
	text-decoration: underline;
	}
a {
	font-size: 0.8em;
}

.footer{
	font-size: 0.7em;
}

#result_report {
	text-align:center ;
	padding:3px;
	background-color:#f8e6a9; 
	font-weight: bold;
	margin-bottom:14px;
}
#results{
	width: 780px;
	margin: 20px auto;
	padding: 0;
	
	
}


#other_pages {
	text-align:center;
}


#powered_by {
	margin:0 auto;
	margin-top:20px;
	padding-top:10px;
	font-size:10px;
	text-align:center;
	vertical-align: center;
}
